---
import ListItem from "../../components/ui/ListItem.astro";
---

<section>
  <h2>Awards & Recognition</h2>
  <div>
    <ListItem
      title="Certificate of Excellence"
      subtitle="Mobigic Technologies - 10th Anniversary Celebration"
      date="Jan 7, 2026"
      summary="Awarded for exemplary performance and unending dedication."
    />
  </div>
</section>
