---
import ListItem from "../../components/ui/ListItem.astro";
---

<section>
  <h2>Education</h2>
  <div>
    <ListItem
      title="B.Tech in Computer Science"
      subtitle="Symbiosis Institute of Technology, Pune"
      date="Expected Jun 2026"
    />
  </div>
</section>
