---

---

<section>
  <h2>Awards & Recognition</h2>
  <div>
    <div class="list-item">
      <div class="list-header">
        <div>
          <div class="list-title">Certificate of Excellence</div>
          <div class="list-subtitle">
            Mobigic Technologies - 10th Anniversary Celebration
          </div>
          <p class="list-desc">
            Awarded for exemplary performance and unending dedication.
          </p>
        </div>
        <div class="list-date">Jan 7, 2026</div>
      </div>
    </div>
  </div>
</section>
