---

---

<section>
  <h2>Education</h2>
  <div>
    <div class="list-item">
      <div class="list-header">
        <div>
          <div class="list-title">B.Tech in Computer Science</div>
          <div class="list-subtitle">
            Symbiosis Institute of Technology, Pune
          </div>
        </div>
        <div class="list-date">Expected Jun 2026</div>
      </div>
    </div>
  </div>
</section>
